<!-- src/app/features/quiz/quiz-taking/quiz-taking.component.html -->
<div class="max-w-3xl mx-auto p-4 sm:p-6 bg-white shadow-2xl rounded-lg">
  <div *ngIf="isLoading" class="text-center py-10">
    <p class="text-xl text-indigo-600">Caricamento domande in corso...</p>
    <!-- You can add a spinner icon here -->
  </div>

  <div *ngIf="errorLoading && !isLoading" class="text-center py-10">
    <p class="text-xl text-red-600 font-semibold">Error!</p>
    <p class="text-gray-700 mt-2">{{ errorLoading }}</p>
    <button routerLink="/quiz/setup" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Prova configurazioni diverse
    </button>
  </div>

  <div *ngIf="!isLoading && !errorLoading && currentQuestion && questions.length > 0">
    <!-- Progress Bar and Timer -->
    <div class="mb-6">
      <div class="flex justify-between items-center mb-1">
        <span class="text-base font-medium text-indigo-700">
          Domanda {{ currentQuestionIndex + 1 }} di {{ questions.length }} - {{ quizTitle}}
        </span>

        <!-- Timer Display Container -->
        <ng-container *ngIf="isTimerEnabled">
          <div *ngIf="timeLeft$ | async as timeLeft; else timerInitialDisplay">
            <div *ngIf="timeLeft > 0" class="text-base font-semibold"
              [ngClass]="{'text-red-600 animate-pulse': timeLeft <= 10 && timeLeft > 0, 'text-gray-700': timeLeft > 10}">
              Time Left: {{ formatTimeLeft(timeLeft) }}
            </div>
            <div *ngIf="timeLeft === 0 && !quizIsOverByTime" class="text-base font-semibold text-red-600 animate-pulse">
              Time's Up!
            </div>
            <div *ngIf="timeLeft === 0 && quizIsOverByTime" class="text-base font-semibold text-red-500">
              Quiz Ended by Timer
            </div>
          </div>
          <ng-template #timerInitialDisplay>
            <div *ngIf="_timeLeftSeconds > 0" class="text-base font-semibold text-gray-700">
              Time Left: {{ formatTimeLeft(_timeLeftSeconds) }}
            </div>
          </ng-template>
        </ng-container>
      </div>

      <!-- Progress bar div -->
      <div class="w-full bg-gray-200 rounded-full h-2.5">
        <div class="bg-indigo-600 h-2.5 rounded-full"
          [style.width.%]="((currentQuestionIndex + 1) / questions.length) * 100">
        </div>
      </div>

      <div class="progress-bar mt-1">
        <div class="progress red" [style.width.%]="(getNumberOfIncorrectAnswers() / questions.length) * 100"></div>
        <div class="progress yellow" [style.width.%]="(getNumberOfUnansweredQuestions() / questions.length) * 100">
        </div>
        <div class="progress green" [style.width.%]="(getNumberOfCorrectAnswers() / questions.length) * 100"></div>
      </div>

      <div
        *ngIf="!quizCompleted && questions.length > 0 && !isLoading && !errorLoading && quizStatus === 'in-progress' && userAnswers.length < questions.length"
        class="mt-3 text-right">
        <button #pauseButton (click)="pauseQuiz()"
          class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-md text-sm shadow">
          Sospendi Quiz
        </button>
      </div>
    </div>

    <!-- Question Area -->
    <div class="bg-gray-50 p-6 rounded-lg shadow mb-6">
      <h2 class="text-xl sm:text-2xl font-semibold text-gray-800 leading-tight" [innerHTML]="currentQuestion.text"></h2>
      <p *ngIf="currentQuestion.topic" class="text-sm text-gray-500 mt-1">Argomento: {{ currentQuestion.topic }}</p>
    </div>

    <!-- Favorite Button -->
    <button *ngIf="currentQuestion" (click)="toggleFavoriteCurrentQuestion()"
      [title]="currentQuestion.isFavorite ? 'Remove from Favorites' : 'Add to Favorites'"
      class="p-2 rounded-full hover:bg-yellow-200 transition-colors focus:outline-none">
      <svg *ngIf="!currentQuestion.isFavorite" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400"
        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.846 5.671a1 1 0 00.95.69h5.969c.969 0 1.371 1.24.588 1.81l-4.827 3.522a1 1 0 00-.364 1.118l1.846 5.671c.3.921-.755 1.688-1.54 1.118l-4.827-3.522a1 1 0 00-1.176 0l-4.827 3.522c-.784.57-1.838-.197-1.539-1.118l1.846-5.671a1 1 0 00-.364-1.118L2.28 11.1c-.783-.57-.38-1.81.588-1.81h5.969a1 1 0 00.95-.69L11.049 2.927z" />
      </svg>
      <svg *ngIf="currentQuestion.isFavorite" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-500"
        viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
      </svg>
    </button>

    <!-- Answer Options -->
    <div class="space-y-3 mb-2">
      <button *ngFor="let option of currentQuestion.options; let i = index" (click)="selectAnswer(i)"
        [disabled]="isAnswerSubmitted || quizIsOverByTime" class="w-full text-left p-4 rounded-lg border-2 transition-all duration-150 ease-in-out
                     focus:outline-none focus:ring-2 focus:ring-indigo-400" [ngClass]="{
                'bg-dark border-gray-300 hover:bg-indigo-50 hover:border-indigo-400': answerStates[i] === AnswerStateEnum.UNANSWERED && !isAnswerSubmitted,
                'bg-gray-100 border-gray-300 cursor-not-allowed text-gray-500': answerStates[i] === AnswerStateEnum.UNANSWERED && (isAnswerSubmitted || quizIsOverByTime) && selectedAnswerIndex !== i && currentQuestion.correctAnswerIndex !== i,
                'bg-green-100 border-green-500 text-green-800 font-semibold ring-2 ring-green-500': answerStates[i] === AnswerStateEnum.CORRECT,
                'bg-red-100 border-red-500 text-red-800 font-semibold ring-2 ring-red-500': answerStates[i] === AnswerStateEnum.INCORRECT,
                'opacity-70 cursor-not-allowed': (isAnswerSubmitted || quizIsOverByTime) && selectedAnswerIndex !== i && currentQuestion.correctAnswerIndex !== i && answerStates[i] !== AnswerStateEnum.CORRECT && answerStates[i] !== AnswerStateEnum.INCORRECT
              }">
        <span class="font-medium">{{ option }}</span>
      </button>
    </div>

    <!-- Feedback Button/Icon -->
    <app-question-feedback [questionId]="currentQuestion.id"></app-question-feedback>


    <!-- Explanation (shown after answer) -->
    <div *ngIf="isAnswerSubmitted && currentQuestion?.explanation && !quizIsOverByTime"
      class="p-4 mb-6 bg-yellow-50 border border-yellow-300 rounded-md text-yellow-700">
      <h4 class="font-semibold">Spiegazione:</h4>
      <p [innerHTML]="currentQuestion?.explanation"></p>
    </div>

    <!-- Navigation Button -->
    <div class="row text-center">
      <button *ngIf="!quizIsOverByTime && currentQuestionIndex > 0" (click)="previousQuestion()"
        class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-8 rounded-lg shadow-md hover:shadow-lg transition duration-150 mr-4">
        {{ 'Domanda precedente' }} </button>
      <button *ngIf="!quizIsOverByTime" (click)="nextQuestion()"
        class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-8 rounded-lg shadow-md hover:shadow-lg transition duration-150">
        {{ currentQuestionIndex < questions.length - 1 ? 'Domanda successiva' : 'Termina il quiz' }} </button>
          <button
            *ngIf="!quizIsOverByTime && currentQuestionIndex === questions.length - 1 && getNumberOfUnansweredQuestions() > 0 && getNumberOfUnansweredQuestions() !== questions.length"
            (click)="goToFirstUnansweredQuestion()"
            class="bg-orange-600 hover:bg-orange-700 text-white font-bold py-3 px-8 rounded-lg shadow-md hover:shadow-lg transition duration-150 mt-4">
            {{ 'Torna alla prima domanda non risposta' }} </button>
          <!--isAnswerSubmitted  The alert and automatic navigation should handle the "quiz over by time" scenario mostly.
           This button is more of a visual confirmation if needed. -->
          <div *ngIf="quizIsOverByTime" class="mt-4">
            <p class="text-red-600 font-semibold">Quiz terminato automaticamento in quanto è scaduto il timer.</p>
          </div>
    </div>
    <div class="row text-center">
      <button routerLink="/home" class="mt-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
        Torna alla pagina principale
      </button>
    </div>
  </div>

  <div *ngIf="!isLoading && !errorLoading && (questions.length === 0 || !currentQuestion) && !quizIsOverByTime"
    class="text-center py-10"> <!-- Added !quizIsOverByTime here -->
    <p class="text-xl text-gray-700">Quiz terminato o nessuna domanda trovata.</p>
    <button routerLink="/home" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Torna alla pagina principale
    </button>
  </div>