<!-- This is now the content that goes INSIDE app-simple-modal -->
 <h5 class="bg-white dark:text-gray-600">Tipologia: <strong>{{modalTitle}}</strong></h5>
<div *ngIf="topics.length > 0" class="space-y-3 border-t pt-4 mt-4">
    <h4 class="text-md font-medium text-gray-600 mb-2">Imposta il numero di domande per argomento:</h4>
    <div *ngFor="let topic of clonedTopics; let i = index" class="p-3 border rounded-md bg-gray-50">
        <div class="flex items-center justify-between">
            <label for="count-{{topic.topic}}" class="block text-sm font-medium text-gray-900">
                {{ topic.topic }} (max {{getMaxCountOfTopic(topic)}}) :
            </label>
            <div class="w-28">
                <div class="flex items-center space-x-2">

                    <input #inputValue type="number" min="1" max="{{getMaxCountOfTopic(topic)}}" id="count-{{topic.topic}}"
                        name="count-{{topic.topic}}-{{i}}" [value]="topic.count"
                        (change)="calculateTotalQuestionsFromTopicCounts($event, topic)"
                        class="block w-full p-1.5 text-sm border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 dark:text-gray-600">
                </div>
                <div class="text-center">
                    <span *ngIf="topic.isMaxReached" class="text-red-500 text-sm">
                        (Max: {{ topic.count }})
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
<p *ngIf="clonedTopics.length > 0" class="text-sm text-gray-600 mt-3">
    Totale domande impostate: <strong class="text-indigo-700">{{ selectedNumQuestions }}</strong>
</p>

<!-- Buttons will be projected into the modal-footer -->
<div modal-footer class="mt-2">
    <button type="submit" (click)="onInternalCancel()"
        class="w-full sm:w-auto inline-block bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-3 rounded-lg text-xl shadow-md hover:shadow-lg transition duration-150">
        {{ 'Annulla' }}
    </button>

    <button type="submit" [disabled]="!selectedNumQuestions" (click)="onInternalSubmit()"
        class="w-full sm:w-auto inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded-lg text-xl shadow-md hover:shadow-lg transition duration-150 ml-2">
        {{ isLoading ? 'Caricamento in corso...' : 'Inizia quiz di ripasso' }}
    </button>
</div>