<!-- This is now the content that goes INSIDE app-simple-modal -->
<h5 class="bg-white dark:text-gray-600">Tipologia: <strong>{{modalTitle}}</strong></h5>

<!--  Nascondi risposta esatta  -->
<div class="my-4 flex w-50 justify-center h-50">
    <div class="flex items-left h-full bg-gray-500 dark:bg-indigo-900 dark:bg-opacity-30 rounded-lg shadow p-2">
        <label for="hideCorrectAnswerToggle" class="relative flex-shrink-0 ml-2 cursor-pointer">
            <input type="checkbox" id="hideCorrectAnswerToggle" class="sr-only" [(ngModel)]="hideCorrectAnswer"
                name="hideCorrectAnswerToggle">
            <div class="block bg-gray-200 dark:bg-gray-600 w-14 h-8 rounded-full"></div>
            <div class="dot absolute left-1 top-1 bg-white dark:bg-gray-400 w-6 h-6 rounded-full transition-transform duration-300 ease-in-out"
                [ngClass]="{'translate-x-6 !bg-indigo-600 dark:!bg-indigo-500': hideCorrectAnswer}"></div>
        </label>
        <label for="hideCorrectAnswerToggle"
            class="ml-3 block text-sm font-medium text-white dark:text-gray-600 flex items-center">
            Nascondi risposta esatta
        </label>
    </div>
</div>

<div *ngIf="topics.length > 0" class="space-y-3 border-t pt-4 mt-4">
    <h4 class="text-md font-medium text-gray-600 mb-2">Imposta il numero di domande per argomento:</h4>
    <div *ngFor="let topic of clonedTopics; let i = index" class="p-3 border rounded-md bg-gray-50">
        <div class="flex items-center justify-between">
            <label for="count-{{topic.topic}}" class="block text-sm font-medium text-gray-900">
                {{ topic.topic }} (max {{getMaxCountOfTopic(topic)}}) :
            </label>
            <div class="w-28">
                <div class="flex items-center space-x-2">
                    <div class="flex-shrink-0 mt-2 sm:mt-0 text-center">
                        <button (click)="resetCount(topic)"
                            aria-label="Imposta a 0 il numero dei quiz di questo argomento"
                            title="Imposta a 0 il numero dei quiz di questo argomento"
                            class="text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 focus:outline-none p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:bg-opacity-30 transition-colors">
                            <fa-icon class="px-2 fa-lg" [icon]="faTrashBin"
                                aria-label="Imposta a 0 il numero dei quiz di questo argomento"></fa-icon>
                        </button>
                    </div>
                    <input #inputValue type="number" min="1" max="{{getMaxCountOfTopic(topic)}}"
                        id="count-{{topic.topic}}" name="count-{{topic.topic}}-{{i}}" [value]="topic.count"
                        (change)="calculateTotalQuestionsFromTopicCounts($event, topic)"
                        class="block w-full p-1.5 text-sm border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 dark:text-gray-600">
                </div>
                <div class="text-center">
                    <span *ngIf="topic.isMaxReached" class="text-red-500 text-sm">
                        (Max: {{ topic.count }})
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="flex-shrink-0 mt-2 sm:mt-0 text-center">
    <button (click)="resetCount()" aria-label="Imposta a 0 il numero totale dei quiz"
        title="Imposta a 0 il numero totale dei quiz"
        class="w-50 inline-block bg-gray-500 hover:bg-gray-700 text-white dark:bg-gray-700 dark:hover:bg-gray-500 font-bold py-2 px-2 my-2 rounded-lg text-l sm:text-l shadow-md hover:shadow-lg transition duration-150 text-center">
        <fa-icon class="px-2 fa-lg" [icon]="faTrashBin" aria-label="Imposta a 0 il numero totale dei quiz"></fa-icon>
        {{ 'Resetta tutti i totali' }}
    </button>
</div>
<p *ngIf="clonedTopics.length > 0" class="text-sm text-gray-600 mt-3">
    Totale domande impostate: <strong class="text-indigo-700">{{ selectedNumQuestions }}</strong>
</p>

<!-- Buttons will be projected into the modal-footer -->
<div modal-footer class="flex flex-col sm:flex-row sm:justify-center items-center gap-4 mt-4">
    <button type="submit" (click)="onInternalCancel()"
        class="w-full inline-block bg-gray-500 hover:bg-gray-700 text-white dark:bg-gray-700 dark:hover:bg-gray-500 font-bold py-3 px-6 rounded-lg text-lg sm:text-xl shadow-md hover:shadow-lg transition duration-150 text-center">
        <fa-icon class="ml-2 fa-lg" [icon]="faCancel"></fa-icon>
        {{ 'Annulla' }}
    </button>

    <button type="submit" [disabled]="!selectedNumQuestions" (click)="onInternalSubmit()"
        class="disabled:opacity-50 disabled:cursor-not-allowed w-full inline-block bg-green-500 hover:bg-green-600 text-white dark:bg-green-600 dark:hover:bg-green-500 font-bold py-3 px-6 rounded-lg text-lg sm:text-xl shadow-md hover:shadow-lg transition duration-150 text-center">

        <!-- w-full inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg text-xl shadow-md hover:shadow-lg transition duration-150 sm:w-auto   -->
        <!-- w-full inline-block bg-green-500 hover:bg-green-600 text-white dark:bg-green-600 dark:hover:bg-green-500 font-bold py-3 px-6 rounded-lg text-lg sm:text-xl shadow-md hover:shadow-lg transition duration-150 text-center -->
        <fa-icon class="ml-2 fa-lg" [icon]="military"></fa-icon>
        {{ isLoading ? 'Caricamento in corso...' : 'Avvia quiz' }}
    </button>
</div>