<!-- src/app/app.component.html -->
<header class="bg-indigo-600 text-white shadow-lg">
  <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
    <a routerLink="/home" class="text-xl font-bold hover:text-indigo-200">QuizWiz App</a>
    <div>
      <a routerLink="/quiz/setup" class="px-3 py-2 rounded hover:bg-green-700">Nuovo Quiz</a>
      <a routerLink="/quiz/history" class="ml-4 px-3 py-2 rounded hover:bg-indigo-700">Storico quiz</a>
      <a routerLink="/statistics" class="ml-4 px-3 py-2 mr-2 rounded hover:bg-yellow-700">Statistiche</a>
      <button (click)="listenForModeToggleClick()" id="toggle">{{modeString}}
        <fa-icon class="ml-2 fa-lg" id="modeIcon" [icon]="icon"></fa-icon>
      </button>
    </div>
  </nav>
</header>

<main class="container mx-auto p-4">
  <router-outlet></router-outlet>
</main>

<footer class="bg-gray-200 text-center text-sm p-4 mt-8">
  © {{ currentYear }} QuizWiz App. All rights reserved.
</footer>